.infographic-container > header{
  background: var(--teal);
  color: var(--white);
}

.infographic-container header > h2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 14px;
  text-align: center;
}

a {
  color: #FFFFFF;
  font-size: larger;
}