.infographic-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infographic-container > header {
  background: var(--teal);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin-bottom: 80px;
}

.infographic-container > header.second{
  width: 270px;
}

.infographic-container header > h2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 14px;
  text-align: center;
}

a {
  color: #FFFFFF;
  font-size: larger;
}

.graphic-row {
  max-width: 1100px;
}