
.successes-container {
  background: var(--black);
  padding-bottom: 70px;
}

.successes-container > header{
  background: var(--teal);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin-bottom: 80px;
}

.successes-container header > h2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 14px;
  text-align: center;
}

.success-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgba(114, 114, 114, 0.308);
  max-width: 1100px;
}

.success-item img {
  max-width: 50%;
  min-width: 300px;
}

.success-item blockquote {
  max-width: 350px;
}

.quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  min-width: 350px;
  width: 50%;
}

.carousel-container  {
  display: flex;
  justify-content: center;
  align-items: center;
}