.organizations-container{
  background: var(--white);
  padding-bottom: 80px;
}

.organizations-container > header{
  background: var(--teal);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding: 1.2rem 0;
}

.organizations-container header > h2 {
  font-size: 2.0rem;
  font-weight: 800;
  padding: 14px;
}

.organizations-container h3 {
  color: var(--teal); 
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 40px;
}


.orglinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

