:root{
  --orange: #DA6810;
  --black: #000000;
  --white: #FFFFFF;
  --teal-translucent: rgba(0, 149, 168, 0.52);
  --teal: #0095A8;
  --gray: #707070;
  --aajc: #9D2755;
  --alc: #4A4A4A;
  --ajc: #5695b8;
  --ajla: #0095A8;
  --aja: #D66D49;
}