.org-info-container{
  background: white;
  margin-bottom: 80px;
}

.org-info-container > header{
  background: var(--teal);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  padding: 1.2rem 0;
}
.info-row{
  max-width: 1100px;
}

.org-info-container header > h2 {
  font-size: 2.0rem;
  font-weight: 800;
  padding: 14px;
  text-align: center;
}

.org-info-container button:hover,
.org-info-container button:focus {
  box-shadow: 0 0 10px var(--gray);
}

.accordion-button:not(.collapsed){
  color: #000;
  background-color: #fff;
  font-weight: bold;
  box-shadow: inset 0 -1px 0 #da6810;
}

.accordion-item {
  margin-bottom: -1px;
  background-color: #fff;
  border: 2px solid #da6810;
  margin: 20px 10px 0 10px;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  font-weight: bold;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  font-weight: bold;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(./plus-orange.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(./plus-orange.png)!important;
  transform: rotate(180deg);
}


.accordion-item{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.photo {
  height: 147px;
  width: 147px;
  display: block;
  margin: 0 auto;
}

.title{
text-align: center;
font: normal normal bold 30px/38px Assistant;
letter-spacing: 0px;
color: #0095A8;
opacity: 1;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 10px;
}

.text{
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  width: 70%;
  margin: 0 auto;
}

.iconPosition{
  margin: 0 0 60px 0;
}

.buttonStyle{
  width: 409px;
  height: 193px;
  background: #DA6810 0% 0% no-repeat padding-box;
  border-radius: 47px;
  opacity: 1;
  margin: 0 auto;
  color: #FFFFFF;
  border: orange;
}
.buttonText{
text-align: center;
font: normal normal bold 34px/32px Assistant;
letter-spacing: 0px;
color: #FFFFFF;
}

.buttonStyle  a:link {
 text-decoration: none;
}

.buttonStyle a {
    color: white;
}

.buttonTopSpace { 
  margin-top: 25px;
}

.mobileButton{
    width: 281px;
    height: 70px;
}

.mobileText {
    text-align: center;
    font: normal normal bold 25px/12px Assistant;
    letter-spacing: 0px;
    color: #FFFFFF;
}